body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    min-width: 100%;
    -ms-overflow-style: none;
     scrollbar-width: none; 
     scrollbar-color: transparent transparent;
     overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


::-webkit-scrollbar {
    width: 0;
  }


h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

body::-webkit-scrollbar {
    display: none;
  }
  
.fade-in {
animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
from {
    opacity: 0;
    transform: translateY(-10px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}





form {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    max-width: 1000px;
    width: 100%;
    margin: auto;
    height: 100%;
    min-height: 100px;
}

label {
    display: block;
    margin-bottom: 10px;
    margin-top: 15px;
}

.size {
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    justify-content: flex-start;

}

.place {
    width: 100%;
}

.delimetr {
    margin-left: 5px;
    margin-right: 5px;
}

.size input {
    flex: 1;
    text-align: center;
}

* {
    outline: none;
}

.highlight {
    font-weight: bold;
  }

#title {
    margin-top: 70px;

}
.error {
    border-color: red;
    outline: none;

  }
input[type="text"] {
    width: 100%;
    padding: 15px;
    background-color: #f5f6f7;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 17px;
    border: 2px solid #f5f6f7; 
    transition: border-color 0.5s; 
    border-radius: 10px;
    height: 52px;
    min-height: 52px;
}


#checkboxContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#confirm1 {
    margin-bottom: 300px;
}

 #paymentCheckbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px;
    margin-bottom: 20px;
    border: 2px solid #4caf50; 
    border-radius: 5px; 
    outline: none;
    cursor: pointer;
    min-width: 2px;

}

#paymentCheckbox:checked {
    background-color: #4caf50;
    border: 2px solid #4caf50;
    min-width: 20px;
}

#paymentCheckbox::before {
    content: '\2713';
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 18px; 
    color: white;
    font-size: 17px; 
    font-weight: bold;
    min-width: 20px;
    z-index: -1;
    margin-left: -1px;
}



#for_delete {
    margin-bottom: 20px;
}
  

#back_to_1 {
    margin-bottom: 20px;
}

.status {
    min-height: 20px;
    display: block;
    margin-bottom: 20px;
    color: red;
    text-align: center;
    margin-top: 100px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #1ab248;
    background-color: transparent;
}

input[type="text"]:hover {
    background-color: #e8f7ec;  
}

.confirm {
    background-color: #1ab248;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    height: 7vh;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    height: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    line-height: 30px;
    transition: 0.5s; 
}

.back {
    background-color: #1ab248;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    height: 7vh;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    height: 50px;
    min-height: 50px;
    margin-bottom: 300px;
    display: flex;
    justify-content: center;
    line-height: 30px;
    transition: 0.5s; 

}

.confirm:hover {
    background-color: #30cc5f;
}

.confirm:active {
    background-color: #158e3a;
}

.back:hover {
    background-color: #30cc5f;
}

.back:active {
    background-color: #158e3a;
}


.inputform {
    position: relative;
}



.place_title {
    display: flex;
    border-bottom: 2px solid #4bba5d;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 17px;
}

.dropdown-list {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1;
    background-color: #f9f9f9;
    box-sizing: border-box;
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
  }
  
  li {
    padding: 8px;
    cursor: pointer;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
  
  li:hover {
    background-color: #ddd;
  }


.created {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    background-color: white;
    color: #1ab248;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    height: 7vh;
    width: 100%;
    margin-bottom: -40px;
    margin-top: 5px;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    height: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    line-height: 30px;
    transition: 0.5s; 

}

.created:hover {
    background-color: #30cc5f;
    color: white;

}

.created:active {
    background-color: #158e3a;
    color: white;

}


#scrollToTopBtn {
    position:fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    padding-left: 0;
    padding-right: 0;
    background-color: #4bba5d;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.6;
}

.step2, .step3 {
    display: none;
}


.labels {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
}

.labels p {
    flex: 1; 
    text-align: center; 
}

.detailsContainer {
    margin-top: -5px;
}

.sorting-buttons select {
    font-family: inherit;
    font-size: 15px;

}

.item {
    background-color: #b0dbb0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}




.status {
    min-height: 20px;
    color: red;
    text-align: center;
}
.item p {
    flex: 1; 
    text-align: center; 
}

.selected {
    background-color: #1ab248; 
}


.sorting-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#sortSelect {
    height:20px;
    margin-left: 5px;
    margin-top: 5px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_button {
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #4bba5d;
    border: 1px solid #4bba5d;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
    margin-left: 10px;
    margin-right: 10px;
}

#slider2, #slider3{
    display: none;
}

.slider_button.active {
    background-color: #4bba5d;
    color: #fff;
    border: none;
  }



  .container {
    display: flex;
    flex-direction: column;
  }
  
  .container label {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 20px;
  }
  
  .column-state label {
      font-size: 15px;
    }
  
  .container input {
    margin-right: 5px;
  }
  
  .cost {
      font-weight: bold;
  }
  
  .title{
      margin-top: -20px;
      margin-bottom: 2px;
      font-size: 15px;
  }
  
  .menu {
      margin-left: 23px;
  }
  



  
   .boxes {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      font-size: 13px;
  }
  
  .box {
      border: 2px solid #30cc5f;
      border-radius: 10px;
      padding: 5px;
      text-align: center;
  }
  
  .box_name {
      font-weight: bold;
      font-size: 12px;
  }
  
  .box_details {
      margin-top: 5px;
  }
  
  .counter-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: inherit;
      color: inherit;
      padding: 0;
      outline: none; 
      font-size: 16px;
      flex: 1;
      margin: 0;
  }
  
  #increaseButton, #decreaseButton {
      flex: 1;
      margin: 0; 
      min-width: 20%;
  }
  
  
  
  .box_counter {
      font-size: 14px;
      display: flex;
      justify-content: center;
  }
    
  
  
  .box-count-input {
      width: 25px;
      text-align: center; 
      border: 2px solid #30cc5f;
      border-radius: 8px;
      font-size: inherit; 
      margin: 0;
      outline: none;
      margin-left: 5px;
  }
  
  #floor_status {
      font-size: 17px;
  }
  
  #status_for_info {
      display: none;
      font-size: 17px;
      margin-left: 23px;
      margin-top: -25px;
  }
  
  
  .service {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
  }
  
  .service_cost {
      margin-top: 4px;
      font-weight: bold;
  }
  
  .flex-row {
    display: flex;
    align-items: center;
}

  
  .column-state{
      display: flex;
      flex-direction: column;
      justify-self:center;
      margin-left: 20px;
      margin-bottom: 15px;
  }
  
  #title_floor {
      margin-bottom: -15px;
  }
  
  input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 20px; 
      height: 20px;
      border: 2px solid #4caf50; 
      border-radius: 5px; 
      outline: none;
      cursor: pointer;
      min-width: 20px;
  
  }
  
  input[type="checkbox"]:checked {
      background-color: #4caf50;
      border: 2px solid #4caf50;
      min-width: 20px;
  }
  
  input[type="checkbox"]::before {
      content: '\2713';
      display: block;
      text-align: center;
      line-height: 20px; 
      color: white;
      font-size: 15px; 
      font-weight: bold;
      min-width: 20px;
  
  }
  
  
  input[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 20px; 
      height: 20px;
      border: 2px solid #4caf50; 
      border-radius: 50%; 
      outline: none;
      cursor: pointer;
  }
  
  input[type="radio"]:checked {
      background-color: #4caf50; 
      border: 2px solid #4caf50;
  }
  
  input[type="radio"]::before {
      content: '';
      display: block;
      width: 10px; 
      height: 10px;
      margin: 20%; 
      border-radius: 50%; 
      background-color: white;
  } 

